[submodule "cryptcord-distributor/v1/lib/openzeppelin-foundry-upgrades"]
	path = cryptcord-distributor/v1/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
